<section class="todoapp">
  <header class="header">
    <h1>Todo Lists</h1>
    <%= form_with model: @list, local: true, class: "list-form" do |list_form| %>
      <%= list_form.text_field :name, class: "new-todo", placeholder: @list.errors.full_messages_for(:name).first || "Create new list", autofocus: "" %>
      <%= list_form.submit style: "display: none" %>
    <% end %>
  </header>
  <section class="main">
    <ul class="todo-list">
      <% @lists.each do |list| %>
      <li>
        <div>
          <label><%= link_to list.name, list %></label>
        </div>
      </li>
      <% end %>
    </ul>
  </section>
  <footer class="footer"></footer>
</section>
