<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <input class="new-todo" placeholder="Add an item" autofocus="">
  </header>
  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>Item 1</label>
        </div>
      </li>
      <li>
        <div class="view">
          <label>Item 2</label>
        </div>
      </li>
      <li>
        <div class="view">
          <label>Item 3</label>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer"></footer>
</section>
